#parse("header.html")
<div id="main">
    <div class="container">
        <div class="row clearfix">

            <div class="col-md-12 column my-right-letter">

                <button class="btn btn-success btn-xs" type="button">
                    <a id="modal-876333" href="#modal-container-876333" role="button" class="btn" data-toggle="modal">回复</a>
                </button>

                <div class="modal fade" id="modal-container-876333" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <form method="post" id="message-form"  action="/msg/sendMessage">
                        <input name="sender" id="sender" type="hidden" value="$!{localUserId}">
                        <input name="receiver" id="receiver" type="hidden" value="$!{receiverName}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">发给</span>
                                        <input type="text" class="form-control" placeholder="$!{receiverName}"  aria-describedby="basic-addon1" disabled>

                                    </div>
                                </div>
                                <div class="modal-body">
                                    内容...
                                    <textarea rows="5" class="text required comment-content form-control" name="msgContent" id="msgContent"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                                    <input type="submit" name="commit" value="发送" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ul class="letter-chatlist">
            #foreach($msg in $messages)
            <p hidden id="conversationId" value="$!{msg.message.conversationId}"></p>
            #if ($localUserId == $!{msg.userId})
            <li id="msg-item-$!{msg.message.id}">
                <div class="tooltip fade left in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">$date.format('yyyy-MM-dd HH:mm:ss', $!{msg.message.createdDate})</p>
                            <a href="javascript:void(0);" id="del-link-$!{msg.message.id}" name="4009580" value="$!{msg.message.id}">删除</a>
                        </div>
                        <p class="chat-content">
                            $!{msg.message.content}
                        </p>
                    </div>
                </div>
                <a class="list-head" href="/user/$!{msg.userId}/">
                    <img alt="头像" src="$!{msg.headUrl}">
                </a>
            </li>
            #else

            <li id="msg-item-$!{msg.message.id}">
                <a class="list-head" href="/user/$!{msg.userId}/">
                    <img alt="头像" src="$!{msg.headUrl}">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">$date.format('yyyy-MM-dd HH:mm:ss', $!{msg.message.createdDate})</p>
                            <a href="javascript:void(0);" id="del-link-$!{msg.message.id}" name="4009580" value="$!{msg.message.id}">删除</a>
                        </div>
                        <p class="chat-content">
                            $!{msg.message.content}
                        </p>
                    </div>
                </div>

            </li>

            #end
            #end
            <div class="col-md-12 column my-right-letter-detail">
                <ul  id="letter-detail-page">
                </ul>
            </div>

        </ul>

    </div>
    <script type="text/javascript">
          $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

              $('.weixin-qrcode-dropdown').show();

              var options = {
                "img_url": "",
                "link": "http://nowcoder.com/j/wt2rwy",
                "desc": "",
                "title": "读《Web 全栈工程师的自我修养》"
              };

              WeixinJSBridge.on('menu:share:appmessage', function (argv){
                WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              WeixinJSBridge.on('menu:share:timeline', function (argv) {
                WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              // $(window).on('touchmove scroll', function() {
              //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
              //     $('div.backdrop').show();
              //     $('div.share-help').show();
              //   } else {
              //     $('div.backdrop').hide();
              //     $('div.share-help').hide();
              //   }
              // });

            });

          })

    </script>
</div>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
<script type="text/javascript" src="/scripts/main/site/letterDetail.js"></script>
#parse("footer.html")