#parse("header.html")
    <div id="main">
        <div class="container">
            <div class="row clearfix">

                <div class="col-md-12 column my-right">

                    <button class="btn btn-success btn-xs" type="button">
                        <a id="modal-876333" href="#modal-container-876333" role="button" class="btn" data-toggle="modal">发私信</a>
                    </button>

                    <div class="modal fade" id="modal-container-876333" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                        <form method="post" id="message-form"  action="/msg/sendMessage">
                        <input name="sender" id="sender" type="hidden" value="$!{localUserId}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">发给</span>
                                    <input type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1" name="receiver" id="receiver">
                                    </div>
                                </div>
                                <div class="modal-body">
                                    内容...
                                    <textarea rows="5" class="text required comment-content form-control" name="msgContent" id="msgContent"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                                    <input type="submit" name="commit" value="发送" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <ul class="letter-list">
                #foreach($conversation in $conversations)
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}"></a>
                    <div class="letter-info">
                        <span class="l-time">$date.format('yyyy-MM-dd HH:mm:ss', $!{conversation.conversation.createdDate})</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}">
                                共$!{conversation.conversation.id}条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            $!{conversation.unread}
                        </span>
                        <a class="list-head" href="/user/$!{conversation.user.id}/">
                            <img alt="头像" src="$!{conversation.user.headUrl}">
                        </a>
                    </div>
                    <div class="letter-detail" >
                        <a title="$!{conversation.user.name}" class="letter-name level-color-1" href="/user/$!{conversation.user.id}/">
                            $!{conversation.user.name}
                        </a>
                        <p class="letter-brief">
                            <a href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}">
                                $!{conversation.conversation.content}
                            </a>
                        </p>
                    </div>
                </li>
                #end
                </ul>

        </div>
        <script type="text/javascript">
          $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

              $('.weixin-qrcode-dropdown').show();

              var options = {
                "img_url": "",
                "link": "http://nowcoder.com/j/wt2rwy",
                "desc": "",
                "title": "读《Web 全栈工程师的自我修养》"
              };

              WeixinJSBridge.on('menu:share:appmessage', function (argv){
                WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              WeixinJSBridge.on('menu:share:timeline', function (argv) {
                WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              // $(window).on('touchmove scroll', function() {
              //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
              //     $('div.backdrop').show();
              //     $('div.share-help').show();
              //   } else {
              //     $('div.backdrop').hide();
              //     $('div.share-help').hide();
              //   }
              // });

            });

          })
        </script>
    </div>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
    #parse("footer.html")