<html>
<body>

<form action="/login" method="post">
  <p>First name: <input type="text" name="username" /></p>
  <p>Last name: <input type="password" name="password" /></p>
  <input type="submit" value="Submit" />
</form>

<p>请单击确认</p>

</body>
</html>